* {
    margin: 0;
    padding: 0;
}

body {
    background: #f2f6fa;
    font-family: 'Comfortaa', cursive;
}

h1 {
    color: #333;
    text-align: center;
    padding: 5%;
    font-size: 45px;
}

.section-dreapeau h3{
    font-size: 25px;
    text-align: center;
    color: #DE7676;
}

.section-dreapeau img{
    display: block;
    width: 150px;
    margin: 0 auto;
}

.section-dreapeau form{
    width: 350px;
    margin: auto;
}

#reponse {
    display: block;
    width: 150px;
    height: 30px;
    outline: none;
    border: solid 3px #DE7676;
    border-radius: 15px;
    margin: 20px auto;

}

form button {
    display: block;
    margin: auto;
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding: 25px 80px;
    background: #DE7676;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 6px #da3d3d;
    border-radius: 20px;
}

form button:hover {
    box-shadow: 0px 4px #da3d3d;
    top: 2px;
}

form button:active {
    box-shadow: 0px 0px #da3d3d;
    top: 6px;
}



.resultat {
    text-align: center;
    margin: 20px auto;
}

.erreur {
        animation: erreur 0.3s ease-in-out;
    }
    
    @keyframes erreur {
        0% {
            transform: translateX(0px);
        }
        33% {
            transform: translateX(10px);
        }
        66% {
            transform: translateX(-10px);
        }
        100% {
            transform: translateX(0px);
        }
    }
}